<div id = "form", style="display: none">
<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>  
<% end %>
</div>

<script>
    $(document).ready(function () {
      $("#form").delay(400).show("blind");
    });
</script>