<%= form_for @micropost do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
 <h1 id = myCounterText><SPAN id=myCounter>140</SPAN> characters remaining</font></h1>
  <div class="field">
    <%= f.text_area :content, :onKeyPress => "return taLimit(this)", :onKeyPress=> "return taCount(this,'myCounter')"  %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>


<script language = "Javascript">
maxL=140;
var bName = navigator.appName;
function taLimit(taObj) {
	if (taObj.value.length==maxL) return false;
	return true;
}
function taCount(taObj,Cnt) { 
	objCnt=createObject(Cnt);
	objVal=taObj.value;
	if (objVal.length>maxL) objVal=objVal.substring(0,maxL);
	if (objCnt) {
		if(bName == "Netscape"){	
			objCnt.textContent=maxL-objVal.length;}
		else{objCnt.innerText=maxL-objVal.length;}
	}
	return true;
}
function createObject(objId) {
	if (document.getElementById) return document.getElementById(objId);
	else if (document.layers) return eval("document." + objId);
	else if (document.all) return eval("document.all." + objId);
	else return eval("document." + objId);
}
</script>