 <script src="http://code.jquery.com/jquery-1.4.4.js"></script>
 <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <a id="micropost", href=#>New Post?<a>
		<div id = "post_form", style="display: none">
        <%= render 'shared/micropost_form' %>
		</div>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
       <%= render 'shared/user_info' %>
       <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>
  

<script>
    $("#micropost").click(function () {
      $("#post_form").slideToggle("slow");
    });
</script>

</body>
</html>